@charset "UTF-8";

@font-face {
  font-family: "aryu";
  src:url("../fonts/aryu.eot");
  src:url("../fonts/aryu.eot?#iefix") format("embedded-opentype"),
    url("../fonts/aryu.woff") format("woff"),
    url("../fonts/aryu.ttf") format("truetype"),
    url("../fonts/aryu.svg#aryu") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "aryu" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "aryu" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-24hour:before {
  content: "\61";
}
.icon-chat:before {
  content: "\62";
}
.icon-cardio:before {
  content: "\63";
}
.icon-fb:before {
  content: "\64";
}
.icon-google:before {
  content: "\65";
}
.icon-medical:before {
  content: "\66";
}
.icon-rightthickarrow:before {
  content: "\67";
}
.icon-telephone:before {
  content: "\68";
}
.icon-twitter:before {
  content: "\69";
}
.icon-vision:before {
  content: "\6a";
}
.icon-youtube:before {
  content: "\6b";
}
