html,body{
	margin:0;
	padding:0;
	overflow-x: hidden;
	width:100%;
}
/*------------- font family -------------*/

@font-face {
  font-family: 'Raleway-Black';
  src: url('../fonts/Raleway-Black.eot') format('embedded-opentype'),
	   url('../fonts/Raleway-Black.woff')format('woff'), 
	   url('../fonts/Raleway-Black.ttf')  format('truetype'), 
	   url('../fonts/Raleway-Black.svg#Raleway-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url('../fonts/Raleway-Medium.eot') format('embedded-opentype'),
	   url('../fonts/Raleway-Medium.woff')format('woff'), 
	   url('../fonts/Raleway-Medium.ttf')  format('truetype'), 
	   url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/Raleway-Bold.eot') format('embedded-opentype'),
	   url('../fonts/Raleway-Bold.woff')format('woff'), 
	   url('../fonts/Raleway-Bold.ttf')  format('truetype'), 
	   url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('../fonts/Raleway-SemiBold.eot') format('embedded-opentype'),
	   url('../fonts/Raleway-SemiBold.woff')format('woff'), 
	   url('../fonts/Raleway-SemiBold.ttf')  format('truetype'), 
	   url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.raleway-black{
	font-family: 'Raleway-Black';
}
.raleway-medium{
	font-family: 'Raleway-Medium';
}
.raleway-semibold{
	font-family: 'Raleway-SemiBold';
}
.raleway-bold{
	font-family: 'Raleway-Bold';
}
/*-------------- fontsize --------------*/
h1,h2,h3,h4,h5,h6,p,a,span{
	font-family: 'Raleway-Medium';
}
h1{
	font-size:56px;
	line-height:64px;
}
h2{
	font-size:48px;
	line-height:56px;
}
h3{
	font-size:32px;
	line-height:40px;
}
h4{
	font-size:24px;
	line-height:32px;
}
h5{
	font-size:18px;
	line-height:24px;
}
h6{
	font-size:16px;
	line-height:24px;
}
p{
	margin:0!important;
}

/*-------------- textstyle --------------*/
.capital{
	text-transform: capitalize;
}
.uppercase{
	text-transform:uppercase;
}
.underlined{
	text-decoration: underline;
}
/*-------------- alignment --------------*/
.center{
	text-align: center;
}
.center > img{
	margin:0 auto;
}
.leftalign{
	text-align: left;
}
.rightalign{
	text-align: right;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clearfix{
	clear:both;
}
.vertical-center{
	display:flex!important;
	flex-wrap:wrap;
	align-items:center;
}
/*-------------- textcolor --------------*/
.blacktext{
	color:#000!important;
}
.whitetext{
	color:#fff!important;
}
.lightwhitetext{
	color:rgba(255,255,255,0.5)!important;
}
.bluetext{
	color:#0B75B9!important;
}
.graytext{
	color:#9B9B9B!important;
}
.darkgraytext{
	color:#555555!important;
}
.yellowtext{
	color:#EEB42E!important;
}
/*-------------- color --------------*/
.yellow-bg{
	background:#F7C552!important;
}
.darkyellow-bg{
	background:#EEB42E!important;
}
.white-bg{
	background:#fff;
}
.blue1-bg{
	background:#0179C5!important;
}
.blue2-bg{
	background:#0074BD!important;
}
/*-------------- margin --------------*/
.smallmargin{
	margin-top:10px;
	margin-bottom:10px;
}
.midmargin{
	margin-top:20px;
	margin-bottom:20px;
}
.bigmargin{
	margin-top:50px;
	margin-bottom:50px;
}
.largemargin{
	margin-top:100px;
	margin-bottom:100px;
}
.smalltopmargin{
	margin-top:10px;
}
.midtopmargin{
	margin-top:20px;
}
.bigtopmargin{
	margin-top:50px;
}
.largetopmargin{
	margin-top:100px;
}
.smallbottommargin{
	margin-bottom:10px;
}
.midbottommargin{
	margin-bottom:20px;
}
.bigbottommargin{
	margin-bottom:50px;
}
.largebottommargin{
	margin-bottom:100px;
}
.smallsidemargin{
	margin-left:10px!important;
	margin-right:10px!important;
}
.midsidemargin{
	margin-left:20px!important;
	margin-right:20px!important;
}
.bigsidemargin{
	margin-left:50px!important;
	margin-right:50px!important;
}
.largesidemargin{
	margin-left:100px!important;
	margin-right:100px!important;
}
/*-------------- padding --------------*/
.smallpadding{
	padding-top:10px!important;
	padding-bottom:10px!important;
}
.midpadding{
	padding-top:20px!important;
	padding-bottom:20px!important;
}
.bigpadding{
	padding-top:50px!important;
	padding-bottom:50px!important;
}
.largepadding{
	padding-top:100px!important;
	padding-bottom:100px!important;
}
.smalltoppadding{
	padding-top:10px;
}
.midtoppadding{
	padding-top:20px;
}
.bigtoppadding{
	padding-top:50px;
}
.largetoppadding{
	padding-top:100px;
}
.smallbottompadding{
	padding-bottom:10px;
}
.midbottompadding{
	padding-bottom:20px;
}
.bigbottompadding{
	padding-bottom:50px;
}
.largebottompadding{
	padding-bottom:100px;
}
.smallsidepadding{
	padding-left:10px;
	padding-right:10px;
}
.midsidepadding{
	padding-left:20px;
	padding-right:20px;
}
.bigsidepadding{
	padding-left:50px;
	padding-right:50px;
}
.largesidepadding{
	padding-left:100px;
	padding-right:100px;
}
/*------------------buttons---------------------*/
a,button,{
	cursor:pointer;
}
a:hover{
	text-decoration: none;
}
.btn{
	color:#0074BD;
	background:#FFE399;
	padding:10px 25px;
	border-radius:0px;
}
.lg-btn{
	background:#F8BF42;
	width:220px!important;
	top:1px;
	cursor:pointer;
	transform-origin: top right;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
}
.lg-btn a{
	padding:14px 17px!important;
	-ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
}
.call-btn.bluetext{
	color:#0074BD!important;
}

/*---------------------------------------*/
.icon{
	display:inline-flex;
	vertical-align: middle;
}
.bigicon{
	font-size:23px;
}
ul.list-none{
	text-decoration: none;
	list-style: none;
}
/*------------------HOME PAGE---------------------*/
header{
	height:130px;
	position:fixed!important;
    width: 100%;
    z-index: 100;
	background:#fff;
	-webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
}
header.fixed{
	
	height:83px!important;
	-webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
box-shadow:  0.1px 0.1px 0.1px #d2d2d2;
}
header.fixed #logo{
    height: 83px!important;
	-webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
}
header.fixed .slope{
	height:40px!important;
	-webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
}
header.fixed .slope:before{
	height:40px!important;
	-webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
}
header.fixed .slope ul{
	height:40px!important;
	-webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
}
header.fixed #menu{
	height:42px!important;
	-webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}
header.fixed #menu-button {
    top: -43;
}
footer{
	height:auto;
}
#logo{
	height:130px;
	z-index:3;
	position:absolute;
	top:0;
	-webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
}
.slope,.footerslope{
	position:relative;
	width:100%;
	height:50px;
	margin:0;
	left:30;
	z-index: 4;
}
.ph-slope{
	position:relative;
	height:250px;
	margin:0;
	left:0;
	z-index: 2;
}
.slope:before,.footerslope:before{
    content:" ";
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    z-index: 1;
    background: #3473B4;
}
.ph-slope:before{
	background:#0074BD;
    content:" ";
    position: relative;
    display: block;
    height: 100%;
    z-index: 1;
}
.slope:before{
    transform-origin: top left;
    -ms-transform: skew(38deg, 0deg);
    -webkit-transform: skew(38deg, 0deg);
    transform: skew(38deg, 0deg);
}
.footerslope:before{
    transform-origin: bottom left;
    -ms-transform: skew(-38deg, 0deg);
    -webkit-transform: skew(-38deg, 0deg);
    transform: skew(-38deg, 0deg);
}
.ph-slope:before{
	 transform-origin: bottom left;
    -ms-transform: skew(-18deg, 0deg);
    -webkit-transform: skew(-18deg, 0deg);
    transform: skew(-18deg, 0deg);
}
.slope,.slope:before,.ph-slope{
	top:0;
}
.ph-slope:before{
	right:0;
}
.footerslope,.footerslope:before{
	bottom:0;
}
.slope ul,.footerslope ul{
	position: absolute;
    z-index: 2;
	height:50px;
	right:30px;
}
.slope ul li,.footerslope ul li{
	display:inline-block;
	padding:25px;
}
.slope ul{
	top: 0;
}
.footerslope ul{
	margin:0;
	bottom:0;
}
/*---------------- MENU ------------------*/
#menu,
#menu ul,
#menu ul li,
#menu ul li a,
#menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#menu:after,
#menu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-button {
  display: none;
}
#menu {
  font-family: 'Raleway-Medium';
  height:80px;
	z-index:100;
}
#menu > ul > li {
  float: left;
}
#menu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#menu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#menu.align-center ul ul {
  text-align: left;
}
#menu.align-right > ul > li {
  float: right;
}
#menu > ul > li > a {
  padding: 15px;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color:#000;
  font-weight: 700;
  text-transform: uppercase;
	border-bottom:2px solid transparent;
}
#menu > ul > li:hover > a {
  border-bottom:3px solid #F8BF42;
}
#menu > ul > li.lg-btn:hover {
  background:#DAA83B!important;
}
#menu > ul > li.lg-btn:hover > a {
  border-bottom:3px solid transparent;
}
#menu > ul > li.has-sub > a {
  padding-right: 30px;
}

#menu ul ul {
  position: absolute;
  left: -9999px;
}
#menu.align-right ul ul {
  text-align: right;
}
#menu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#menu li:hover > ul {
  left: auto;
}
#menu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#menu li:hover > ul > li {
  height: 35px;
}
#menu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#menu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#menu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 20px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 400;
  background: #333333;
}
#menu ul ul li:last-child > a,
#menu ul ul li.last-item > a {
  border-bottom: 0;
}
#menu ul ul li:hover > a,
#menu ul ul li a:hover {
  color: #949494;
}
#menu ul ul li.has-sub > a:after {
  position: absolute;
  top: 24px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#menu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#menu ul ul li.has-sub > a:before {
  position: absolute;
  top: 21px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#menu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#menu ul ul > li.has-sub:hover > a:before {
  top: 25px;
  height: 0;
}


/*-------------------Landing--------------------*/
.landing{
	height:700px;
	margin-top:130px;
	position:relative;
	background:url("../images/bg1.jpg");
	background-position:top;
	background-size:cover;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
.landing > img{
	position:absolute;
}
.landing .landing-description {
	width:500px;
	left:0;
	right:0;
	top:250;
}
.midf{
	background:#F7C552;
	position:absolute;
	bottom:-75;
	width:80%;
	margin:0 auto;
	left:0;
	right:0;
	z-index:3;
	height:150px;
}
.midf-grid{
	display: grid!important;
    grid-template-columns: 80px 20% 60%;
    grid-column-gap: 40px;
}
.tile-grid {
  display: grid;
  height:auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 350px 300px 300px;
}
.tile-grid > img {
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center;
}
.item4 {
  grid-area: 2 / 1 / span 1 / span 2;
}
.item6{
  grid-area: 3/ 1 / span 1 / span 2;	
}
.tm{
	height:auto;
	width:100%;
}
/*-------------------Background images--------------------*/
.about-bg{
	background-position: right;
    background: url(../images/patternbg.jpg);
    background-size: cover;
}
.oval-bg {
	background:url("../images/testimonialbg.jpg");
	
}
/*-------------------OWL CAROUSELS--------------------*/
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #0074BD;
}
.owl-stage-outer{
	padding:40px 0;
}
.owl-carousel .owl-item img {
    width: auto!important;
	height:80px;
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}
.health-carousel .item{
	width:300px;
	height:auto;
	border-radius:7px;
	box-shadow: 0px 3px 10px #d0d0d0;
	margin:0 auto;
}
.health-carousel .item p{
	line-height:32px;
}
.tm-carousel .item{
	width:500px;
	height:250px;
	border-radius:7px;
	box-shadow: 0px 3px 10px #d0d0d0;
	margin:0 auto;
}
.tm-carousel .owl-item{
	z-index:97;
	transform: scale(0.2) translate3d(-160%,0,0);
	-webkit-transform: scale(0.2) translate3d(-160%,0,0);
}
.tm-carousel .owl-item.active{
	z-index:98;
	transform: scale(0.7) translate3d(70%,0,-1px);
	-webkit-transform: scale(0.7) translate3d(70%,0,-1px);
	animation: moveDown 0.5s linear; 
}
.tm-carousel .owl-item.active ~ .active{
	z-index:100;
	transform:scale(1) translate3d(-15%,0,0);
	-webkit-transform:scale(1) translate3d(-15%,0,0);
	animation: moveFront 0.5s linear; 
}
.tm-carousel .owl-item.active ~ .active ~ .active{
	z-index:98;
	transform: scale(0.7) translate3d(-100%,0,0);
	-webkit-transform: scale(0.7) translate3d(-100%,0,0);
	animation: moveLeft 0.6s linear; 
}
.owl-nav > div{
	position: absolute;
	background:white;
	padding:10px;
    top: 50%;
	box-shadow: 0px 3px 10px #d0d0d0;
	border-radius:2px;
}
.owl-next{
    right: 0;
}
.owl-prev{
	left:0;
}
.tm-grid{
	display:grid;
	grid-template-columns: 100px 1fr;
}
.mover {
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  bottom: 100px;
  z-index: 0;
  animation: moveFront 4s linear; 
}
.mail-grid{
    height: 50px;
    width: 400px;
	margin:0 auto;
    display: grid!important;
    background: #F8F8F8;
    grid-template-columns: 2fr 3fr 0.5fr;
}
.mail-grid p{
	border-right:1px solid #d8d8d8;
}
.mail-grid form{
	margin: 0!important;
    padding: 0 10px;
}
.mail-grid input{
	    width: 100%;
		padding: 10px;
		height: 100%;
		border: none;
		background: none;
}
.mail-grid input:focus, .mail-grid button:focus{
	outline:none!important;
}
.mail-grid button{
	    border: none;
		background: none;
		width: 100%;
		height: 100%;
}
#f-logo{
	height:180px;
	z-index:3;
	width:100%;
	position:absolute;
	bottom:-50;
	background:white;
}
.social{
	z-index:2;
}
.social ul{
	margin:0;
	padding:0;
}
.social ul li{
	display:inline-block;
}
.social ul li a:hover{
	text-decoration:none;
}
.social .icon{
	padding:10px;
	font-size:20px;
	background:rgba(237,174,31,100);
	color:#fff!important;
}
.social .icon:hover{
	background:rgba(189,136,16,1);
}
.ph-desc{
	position: absolute;
    z-index: 2;
    top: 50;
    left: 0;
	right:0;
	margin:0 auto;
}
.ph-desc img{
	height:130px;
}


@keyframes moveFront {
  from { transform: scale(0.7) translate3d(70%,0,0); 
	-webkit-transform: scale(0.7) translate3d(70%,0,0); }
  to {  transform: scale(1) translate3d(-15%,0,0); 
	-webkit-transform: scale(1) translate3d(-15%,0,0); }
}
@keyframes moveDown {
  from {  transform: scale(1) translate3d(-15%,0,0); 
	-webkit-transform: scale(1) translate3d(-15%,0,0); }
  to { transform: scale(0.7) translate3d(70%,0,0); 
	-webkit-transform: scale(0.7) translate3d(70%,0,0);  }
}
@keyframes moveLeft {
  from { transform: scale(0.3) translate3d(0,0,0); 
	-webkit-transform: scale(0.3) translate3d(0,0,0); }
  to { transform: scale(0.7) translate3d(-100%,0,0); 
	-webkit-transform: scale(0.7) translate3d(-100%,0,0); }
}
/*Media Queries*/
@media (max-width:1199px){
	.tm-carousel .owl-item.active {
		transform: scale(0.7) translate3d(60%,0,0);
		-webkit-transform: scale(0.7) translate3d(60%,0,0);
	}
	.tm-carousel .owl-item.active ~ .active {
		transform: scale(1) translate3d(-25%,0,0);
		-webkit-transform: scale(1) translate3d(-25%,0,0);
	}
	.tm-carousel .owl-item.active ~ .active ~ .active {
		transform: scale(0.7) translate3d(-110%,0,0);
		-webkit-transform: scale(0.7) translate3d(-110%,0,0);
	}
	@keyframes moveFront {
	  from { z-index: 98; transform: scale(0.7) translate3d(60%,0,0); 
		-webkit-transform: scale(0.7) translate3d(60%,0,0);}
	  to { z-index: 100; transform: scale(1) translate3d(-25%,0,0); 
		-webkit-transform: scale(1) translate3d(-25%,0,0); }
	}
	@keyframes moveDown {
	  from { z-index: 100; transform: scale(1) translate3d(-25%,0,0); 
		-webkit-transform: scale(1) translate3d(-25%,0,0); }
	  to { z-index: 98; transform: scale(0.7) translate3d(60%,0,0); 
		-webkit-transform: scale(0.7) translate3d(60%,0,0); }
	}
	@keyframes moveLeft {
	  from { z-index: 97; transform: scale(0.3) translate3d(0,0,0); 
		-webkit-transform: scale(0.3) translate3d(0,0,0);}
	  to { z-index: 98; transform: scale(0.7) translate3d(-110%,0,0); 
		-webkit-transform: scale(0.7) translate3d(-110%,0,0);}
	}
}
@media (max-width:1000px){
	.tm-carousel .item {
		max-width: 100%;
		height: 300px;
	}
	.owl-nav > div {
	    top: 45%;
	}
	.tm-carousel .owl-item.active {
		transform: scale(1) translate3d(0,0,0);
		-webkit-transform: scale(1) translate3d(0,0,0);
	}
	@keyframes moveDown {
	  from { z-index: 100; transform: scale(0.7) translate3d(0,0,0); 
		-webkit-transform: scale(0.7) translate3d(0,0,0);}
	  to { z-index: 98; transform: scale(1) translate3d(0,0,0); }
		-webkit-transform: scale(1) translate3d(0,0,0);
	}
}
@media (max-width:992px){
	h3 {
		font-size: 24px;
		line-height: 32px;
	}
	.ph-desc img{
		height:150px;
	}
	.mobile-hide{
		display:none!important;
	}
	#menu > ul > li > a {
	  padding: 5px;
	}
	#menu > ul > li:hover > a{
		border-bottom:none;
	}
	#menu {
    	width: 90%;
		position:absolute;
		height:auto;
		right:0;
		background:white;
		z-index:100;
  	}
  	#menu ul {
  	  width: 100%;
	  background:white;
	  padding:0 20px;
  	  display: none;
	  -webkit-animation: slide 0.5s forwards;
  	  -webkit-animation-delay: 2s;
  	  animation: slide 0.5s forwards;
  	  animation-delay: 2s;
  	}
  #menu.align-center > ul {
    text-align: left;
  }
  #menu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }
  #menu ul ul li,
  #menu li:hover > ul > li {
    height: auto;
  }
  #menu ul li a,
  #menu ul ul li a {
    width: 100%;
    border-bottom: 0;
	  padding:17px;
  }
  #menu > ul > li {
    float: none;
  }
  #menu ul ul li a {
    padding-left: 25px;
  }
  #menu ul ul ul li a {
    padding-left: 35px;
  }
  #menu ul ul li a {
    color: #565656;
    background: none;
  }
  #menu ul ul li:hover > a,
  #menu ul ul li.active > a {
    color: #000;
  }
  #menu ul ul,
  #menu ul ul ul,
  #menu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
	  padding:0;
    text-align: left;
  }
  #menu > ul > li.has-sub > a:after,
  #menu > ul > li.has-sub > a:before,
  #menu ul ul > li.has-sub > a:after,
  #menu ul ul > li.has-sub > a:before {
    display: none;
  }
  #menu-button {
    display: block;
    position: absolute;
    top: -50;
    right: 20;
    z-index: 2;
    padding: 17px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #menu-button:after {
	position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 8px;
    width: 20px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    content: '';
  }
  #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #fff;
    content: '';
  }
  #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #menu-button.menu-opened:before {
    top: 23px;
    background: #fff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #menu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #menu .submenu-button.submenu-opened {
    background: #F8BF42;
  }
  #menu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #000;
    content: '';
  }
  #menu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  #menu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #000;
    content: '';
  }
  #menu .submenu-button.submenu-opened:before {
    display: none;
  }
  #menu-button:after,#menu-button:before,#menu .submenu-button:after,#menu .submenu-button:before{
		-webkit-transition: all .25s ease;
	  -moz-transition: all .25s ease;
	  -ms-transition: all .25s ease;
	  -o-transition: all .25s ease;
	  transition: all .25s ease;
	}
	.midf{
		height:200px;
		bottom:-100;
	}
	.midf img{
		padding-top:10px;
	}
	.midf-grid{
		grid-template-columns:1fr;
	}
	.tile-grid {
	  grid-template-columns: 1fr 1fr;
	  grid-template-rows: repeat(5,300px);
	}
	.item7{
	  grid-area: 5/ 1 / span 1 / span 2;	
	}
}
@media (max-width:650px){
	.largesidemargin{
		margin-left:20px!important;
		margin-right:20px!important;
	}
	h1{
		font-size:32px;
		line-height:40px;
	}
	.landing {
		background-position: 76%;
	}
	.mobile-right{
		text-align: right!important;
	}
	
	.landing .landing-description {
		background: #fffc;
		padding: 30px 0;
	}
	.tm-carousel .item {
		max-width: 80%;
		min-height: 300px;
	}
	.item1{
	  grid-area: 1/ 1 / span 1 / span 1;	
	}
	.item2{
	  grid-area: 2/ 1 / span 1 / span 1;	
	}
	.item3{
	  grid-area: 3/ 1 / span 1 / span 1;	
	}
	.item4{
	  grid-area: 4/ 1 / span 1 / span 1;	
	}
	.item5{
	  grid-area: 5/ 1 / span 1 / span 1;	
	}
	.item6{
	  grid-area: 6/ 1 / span 1 / span 1;	
	}
	.item7{
	  grid-area: 7/ 1 / span 1 / span 1;	
	}
	.tile-grid {
	  grid-template-columns: 100%;
	  grid-template-rows: repeat(7,300px);
	}
	.mail-grid{
		width: 100%;
		grid-template-columns: 2fr 3fr 0.5fr;
	}
}